* {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; 
	font-size: 10pt; 
	color: #000;
}

a, a:visited, a:hover {
	color: #800000;
	text-decoration: none;
}

li {
	list-style-type: none;
	padding-bottom: 5px;
}

article {
	display:block;
}

article ul li {
	margin-left: -10px;
}

.clear {
	clear: both;
}

#main {
	width: 90%;
	max-width: 1200px;
	background: #f3f3f3;
	margin: 30px auto;
}

.mainDetails {
	padding: 10px 35px;
	border-bottom: 2px solid #dedede;
	background: #ededed;
}

#name {
	float: left;
}

#name h1 {
	font-size: 2.5em;
	text-transform: uppercase;
	margin-top: -8px;
}

#name h2 {
	font-size: 1.5em;
	margin-top: -20px;
}

#mainArea {
	padding: 0 20px;
}

#contactDetails {
	float: right;
}

#contactDetails ul {
	list-style-type: none;
	font-size: smaller;
	margin-top: -2px;
}

#contactDetails ul li {
	margin-bottom: 3px;
	color: #444;
}

section {
	border-top: 1px solid #dedede;
	padding: 20px 30px 0;
}

section:first-child {
	border-top: 0;
}

.sectionTitle {
	float: left;
	width: 20%;
}

.sectionTitle h1 {
	font-size: 1.5em;
	color: #000;
	margin-left: -20px;
	margin-top: 0px;
}

.sectionContent {
	float: right;
	width: 80%;
}
.sectionContent p {
	margin-top:0px;	
}

.sectionContent h2 {
	font-size: 1.5em;
	margin-bottom: -2px;
	margin-top: 0px;
}
.sectionContent h3 {
	font-size: 1em;
	margin-bottom: -2px;
	margin-top: 0px;
}

.subDetails {
	font-size: small;
	margin-bottom: 3px;
}

.keySkills {
	list-style-type: none;
	-moz-column-count:3;
	-webkit-column-count:3;
	column-count:3;
	margin-bottom: 20px;
	font-size: 1em;
}
.summary {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	margin-bottom: 20px;
}
.summary p {
	margin-top:0px;
}
#footer {
	border-top: 1px solid #ccc;
	text-align: center;
}
#footer p {
	margin-bottom: 0;
	text-align: center;
}

@media all and (min-width: 602px) and (max-width: 1100px) {
	.keySkills {
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	}	
}

@media all and (max-width: 601px) {
	#main {
		width: 95%;
		margin: 10px auto;
		min-width: 280px;
	}
		
	#name, #contactDetails {
		float: none;
		width: 100%;
		text-align: center;
	}
	
	.sectionTitle, .sectionContent {
		float: none;
		width: 100%;
	}
	
	.sectionTitle {
		margin-left: -2px;
		font-size: 1.25em;
	}

	.sectionTitle h1 {
		border-bottom: #dedede 1px solid;
	}
	
	.keySkills {
		-moz-column-count:2;
		-webkit-column-count:2;
		column-count:2;
	}

	.summary {
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
	}
}

@media all and (max-width: 480px) {
	.mainDetails {
		padding: 15px 15px;
	}
	
	section {
		padding: 15px 0 0;
	}
	
	#mainArea {
		padding: 0 25px;
	}
	
	.keySkills {
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
	}

	.summary {
		-moz-column-count:1;
		-webkit-column-count:1;
		column-count:1;
	}
}